body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.nav-header {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  align-content: flex-start;
}

.container {
  display: flex;
  flex-direction: row;
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}

.web {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 16px;
}

nav .web:hover,
nav .web:focus {
  color: #404bbf;
}

.page-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style-type: none;
  gap: 40px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
}

.page-nav .link {
  color: #2e2f42;
  text-decoration: none;
}
.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}
nav .link:hover,
nav .link:focus {
  color: #4d5ae5;
}

.page-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-page-address {
  list-style-type: none;
  gap: 40px;
  display: flex;
}

.page-address .link {
  color: #434455;
  text-decoration: none;
}

.page-address .link:hover,
.page-address .link:focus {
  color: #404bbf;
}

.section-solution {
  background-color: #2e2f42;
  width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.solution {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
}

.section-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-advantages-one {
  background-color: #ffffff;
  width: 1128px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-advantages {
  list-style-type: none;
  gap: 24px;
  display: flex;
}

.advantages-li {
  width: calc((100% - 72px) / 4) px;
}

.advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
}
.goal {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.section-our-team {
  color: #ffffff;
  background: #f4f4fd;
  width: 1440px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-our-team-ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.section-our-team .portfolio {
  font-size: 36px;
  line-height: 1.11;
}

.portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.images {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

img {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.section-portfolio-ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.section-portfolio {
  width: 1440px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio .portfolio {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
}
.section-portfolio .solution {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  text-align: left;
}

.section-portfolio-li {
  width: calc((100% - 48px) / 3);
}

.page-footer {
  background: #2e2f42;
  color: #f4f4fd;
  width: 1440px;
  padding: 100px 0;
}

.logo-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
